body {
    font-family: sans-serif;
}

th {
    font-weight: bold;
}

.minutes, .route {
    padding-right: 10px;
    text-align: right;
}

.text {
    text-align: left;
}

.text {
    padding-left: 10px;
}